*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
@media (max-width:700px){
    body{
        padding: 0;
        margin: 0;
        width: 700px;
    }
}
header{
    width: auto;
    height: 10rem;
     
   
}
.right{
    float: right;
    width: 20rem;
    height: auto;
    background-color: white;
    margin: 0;
    padding: 0;

}
@media (max-width:700px){
    
    .image{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 700px;
        height: 100px;

    }
    .align ul{
     width: 700px;  
      
    }
    .align  li{
     display: inline-block;

   }
   .align li a{
       padding:0;
display: inline-block;
text-align: left;
       
   }
    .font{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
.right{
    padding: 3px;
    margin: 0;
    width: 120px;
    height: auto;
    font-size: 10px;
position: absolute;
margin-left: 600px;

}
.right img{
    width: 150px;
    height: 100px;
}
.left{
    margin: 0;
    width: 500px;
    font-size: 10px;
    position: absolute;
    float: left;
}
.slideshow background-image{
    width: 200px;
    height: 150px;
}
}
.left{
    height: auto;
    margin: 0;
    padding: 0;

}
footer{
   
    height: 70px;
}
.align ul{
    list-style: none;
    background: green;
    text-align: left;
    padding: 0;
    margin:0;
   

}
.align li{
    display: inline-block;
    padding: 0;
}
.align a{
    text-decoration:none;
  color: black;
    width: 100px;
    display: block;
    padding: 0;
    font-size: 12px;
    transition: 0.4s;
    font-family: sans-serif;
}
.align a:hover{
    background: blue;
    transition: 0.9;
}
.trancate{
    width: 300px auto;
    height: 200px;
    

}
.color{
    color: green;
    text-decoration: underline;
}
@media(max-width:700px){

    .table{
        width: 400px;
        height: auto;
        padding: 2px;
      
    }
    .table img{
        width: 130px;
        height: 100px;
    }
    .table .mini{
       font-size: 10px; 
       width:130px ;
       height: 100px;
       padding: 5px;
    }
    .table tr td {
        padding: 0;
        margin: 0;
        
    }
    .deco{
        width: 200px;
        padding: 15px 30px;
        display: inline-block;
    }
    .trancate{
        width: 150px;
        height: 100px;
    }
    .trial {
        
        padding: 2px;
        margin: 0 5px;
    }
    .trial p{
        width: 150px;
        font-size: 15px;
        font-family: monospace;
        padding: 0;
    }
    .roll th{
        width: 500px;
        font-size: 10px;
    color: green;
    }
    .contain-school{
        width: 500px;
        
    }
    .btn{
        margin-top: 20px;
    }
    .hover{
        width: 140px;
        height: 80px;
    }
    .hover a{
        font-family: monospace;
        font-size: 13px;
    }
    
}
.slideshow{
    width: 800px;
    height: 400px;
    background-image: url(img/us-ambasador-maseno.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 80px ;
    animation: slide 8s infinite;

}
@keyframes slide{
    25% {
        background: url(img/us-ambasador-maseno.png);
        background-repeat: no-repeat;
       background-size: cover;
    }
    50% {
        background: url(img/muesa.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    75% {
        background: url(img/library-2019.fw.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    100% {
        background: url(img/19th-drad2.fw.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media (max-width:700px){
    .slideshow{
        width: 550px;
      

    }
}
.mini{
    width: 150px;
    height: 80px;
    color: black;
    font-size: 10px;
}
a{
    text-decoration: underline;
    font-weight:bold;
    color: green;
}
.container{
    width: 700px;
    height: auto;
    padding: 5px;
    font-size: 13px;
}
@media (max-width:700px){
    .container{
        width: 500px;
        height: auto;
        padding: 5px;
        font-size: 10px;  } 
        .right{
            padding-bottom: 4px;
        }
}
.ratio{
    width: 200px;
    height: 100px;
}
.space{
    
    margin: 20px;
}

.deco{
    text-decoration: none;
    background-color: orange;
    box-shadow: 0 0 6px 5px  skyblue;
color: white;
padding: 3px;
display: block;
}
.size{
    background-color: white;
    color: black;
    width: 300px;
    height: 100px;
   margin-left: 10px;
  
   font-weight: bold;
   padding: 5px;
}
.btn{
    margin-left: 50px;
    margin-top: 30px;
    background-color: black;
    width: 150px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
}
.b {
    color: skyblue;
    width: 100px;
    height: 20px;
    margin-top: 9px;
    background: transparent;
    transition: 2s;

   
}
.b:hover{
    cursor: pointer;
    box-shadow: 0 4px 20px skyblue,0 8px 30px 0 green;
    transition: 3s;

}
.contain-school{
   background-color: white;
   width: 100%;
   height: 500px;
    margin: 0;
    padding: 0;
    display: block;
}

.hover{
    width: 180px;
    display: inline-block;
    margin: 5px 20px;
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
    color: blue;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-size: 10px;
    color: white;
    text-align: right;
    


}
.hover:nth-child(1){
    margin-top: 20px;
    width: 250px;
    height: 80px;
    background: skyblue;
}
.hover:nth-child(2){
    width: 250px;
    height: 80px;
    background: darkgreen;
}
.hover:nth-child(3){
    width: 250px;
    height: 80px;
    background: yellow;
}
.hover:nth-child(4){
    width: 250px;
    height: 80px;
    background: skyblue;
}
.hover:nth-child(5){
    width: 250px;
    height: 80px;
    background:darkgreen ;
}
.hover:nth-child(6){
    width: 250px;
    height: 80px;
    background: yellow;
}
.hover:nth-child(7){
    width: 250px;
    height: 80px;
    background: skyblue;
}
.hover:nth-child(8){
    width: 250px;
    height: 80px;
    background:darkgreen;
}
.hover:nth-child(9){
    width: 250px;
    height: 80px;
    background: yellow;
}
.hover:nth-child(10){
    width: 250px;
    height: 80px;
    background: skyblue;
}
.hover:nth-child(11){
    width: 250px;
    height: 80px;
    background: darkgreen;
}
.hover:nth-child(12){
    width: 250px;
    height: 80px;
    background: yellow;
}
.hover:nth-child(13){
    width: 250px;
    height: 80px;
    background: silver;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;
}
.copy{
    color: white;
  padding: 10px;
    width: 100%;
    height: 1rem;
    background-color: darkorange;
    text-align: center;
}
@media (max-width:700px){
    .contain-school{
      display: inline-block;
      margin-top: 1200px;
      align-items: left;
    }
    .contain-school a{
        padding: 3px;
        display: inline-block;
        margin: 5px;
        font-size: 10px;
        text-align: right;
        position: relative;
    }
    
    .hover:nth-child(1){
        width: 150px;
        height: 60px;
    }
    .hover:nth-child(2){
        width: 150px;
        height: 60px;
    }
    .hover:nth-child(3){
        width: 150px;
        height: 60px;
    }
    .hover:nth-child(4){
        width: 150px;
        height: 60px;
    }
    .hover:nth-child(5){
        width: 150px;
        height: 60px;
    }
    .hover:nth-child(6){
        width: 150px;
        height: 60px;
    }
    .hover:nth-child(7){
        width: 150px;
        height: 60px;
    }
    .hover:nth-child(8){
        width: 150px;
        height: 60px;
    }
    .hover:nth-child(9){
        width: 150px;
        height: 60px;
    }
    .hover:nth-child(10){
        width: 150px;
        height: 60px;
    }
    .hover:nth-child(11){
        width: 150px;
        height: 60px;
    }
    .hover:nth-child(12){
        width: 150px;
        height: 60px;
    }
    .hover:nth-child(13){
        width: 150px;
        height: 60px;
    }
    .copy{
        padding: 4px;
        margin: 0;
    }
    footer{
        padding: 0;
        margin: 0;
    }
}
footer{
    margin: 0;
}



